<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://allsur.org/">Allsur</a>
			by <a href="#">Mark Harmsen</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Articles", articles_path %></li>
				<li><%= link_to "Home", root_path %></li>
			</ul>
		</nav>
	</footer>
</div>